
{% extends 'base.html.twig' %}

{% block title %} Les categories {% endblock %}

{% block body %}
        <h1>{{ category.name }}</h1>
        {% for article in category.articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p><img src="{{ article.picture }}"/></p>
                <p>{{ article.content }}</p>
            </li>
        {% endfor %}
{% endblock %}